body {
text-align: center;
text-decoration: none;
}

h1 {
font-family: "Raleway", sans-serif;
font-weight: 400;
color: #OD2C40;
letter-spacing: 1px;
font-size: 45px; 
}

h2 {font-family: "Raleway", sans-serif;
	font-weight: 600;
	color: #OD2C40;
	letter-spacing: 1px;
	font-size: 20px; 
	text-transform: uppercase; 
}

h3 {font-family: "Raleway", sans-serif;
}

.ins-game {
	font-family: "Raleway", sans-serif;
	color: #F15B31
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
}

p {
font-family: "Droid Serif", serif;
}

.readthru {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px
}

a {
	text-decoration: none;
}

.about_me {
	text-decoration: underline;
} 