body {
text-align: center;
text-decoration: none; 
margin: 0;
}


header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}

/*why does the color of the <header> overide the color of <h1>?*/

h1 {
font-family: "Raleway", sans-serif;
font-weight: 400;
color: #OD2C40;
letter-spacing: 1px;
font-size: 45px; 
margin: 0;
}

h6 {
	margin: 10px 0 0 0; 
}

h2 {font-family: "Raleway", sans-serif;
	font-weight: 600;
	color: #OD2C40;
	letter-spacing: 1px;
	font-size: 20px; 
	text-transform: uppercase; 

}

h3, h6 {font-family: "Raleway", sans-serif;
}

.ins-game {
	font-family: "Raleway", sans-serif;
	color: #F15B31
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	border-bottom: 2px solid transparent;
} 

/*Why is ins-game not turning orange?*/

a:hover {
	border-color: white;
}

main {
	width: 850px;
	margin-top: 35px;
	margin-bottom: 35px;
	margin-right: auto;
	margin-left: auto;
	/*Could this have been done with margin: 35px auto;?*/
}

p {
font-family: "Droid Serif", serif;
}

.readthru {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px
}

img {
	margin-top: 40px;
	margin-right: 8px;
	margin-left: 8px;
}

a {
	text-decoration: none;
	margin-right: 20px;
	margin-left: 20px; 
}

nav {
	background-color: #00A6B3;
	color: #FFFFFF; 
	/*Still not changing color*/
	padding-top: 20px;
	padding-bottom: 20px;
}

.about_me {
	text-decoration: none;
	color: white;
} 

footer {
	padding: 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.copyright {
	font-family: "Raleway", sans-serif;
	float: left;
}

.message {
	font-family: "Raleway", sans-serif;
	float: right;
}

.name {
	color: #F15B31;
	font-weight: 700;
}
